/* Cameron Grigoriadis 2016 */

:root {
  --accent: rgb(255, 88, 68);

  --light-txt: rgb(255, 255, 255);
  --dark-txt: rgb(27, 29, 36);

  --white: rgb(255, 255, 255);

  --light-gray: rgb(231, 231, 231);
  --gray: rgb(71, 78, 93);
  --dark-gray: rgb(47, 47, 47);

  --blue: rgb(8, 105, 229);
  --green: rgb(55, 212, 189);
  --purple: rgb(106, 62, 179);

  --tp-blue: rgba(8, 105, 229, 0.9);
  --tp-light: rgba(248, 248, 248, 0.8);
  --tp-gray: rgba(71, 78, 93, 0.8);

  --shadow-blue: rgba(8, 105, 229, 0.4);

  --selection: rgba(4, 83, 255, 0.4);
}

/*Selection*/

::selection {
  background: var(--selection); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--selection); /* Gecko Browsers */
}

/*Text*/

.accent { color: var(--accent); }
.title { color: var(--white); }
.projects .title-txt, .project1, .project3, .contact input { color: var(--light-txt); }
.project2, .contact input { color: var(--dark-txt); }
.contact h1 { color: var(--white); }

/*Links*/

a { color: var(--blue); }
a:hover { color: var(--accent); }

.navbar-nav li a:hover { color: var(--accent) !important; }

.about li a { color: var(--dark-gray); }
.about li a:hover {
  color: var(--blue);
  background-color: var(--white);
  -moz-box-shadow:    0px 0px 10px 0px var(--light-gray);
  -webkit-box-shadow: 0px 0px 10px 0px var(--light-gray);
  box-shadow:         0px 0px 10px 0px var(--light-gray);
}
.about li a:active {
  -moz-box-shadow:    0px 0px 5px 2px var(--shadow-blue);
  -webkit-box-shadow: 0px 0px 5px 2px var(--shadow-blue);
  box-shadow:         0px 0px 5px 2px var(--shadow-blue);
}

/*Borders*/

.navbar, .navbar-collapse { border-style: none; }
.bordered-image { border-color: var(--white); }

/*Backgrounds*/

.navbar, .footer { background-color: var(--white); }

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {

  .navbar { background-color: var(--tp-light); }

}

.title {
background: linear-gradient(var(--tp-blue), var(--tp-blue)),
  url("resources/title_images/title1.jpg");
}

.projects .title-txt { background-color: var(--purple); }
  .project1 { background: linear-gradient(var(--tp-gray), var(--tp-gray)),
      url("resources/stock/coding.png"); }
  .project2 { background: linear-gradient(var(--tp-light), var(--tp-light)),
      url("resources/stock/pepper2.jpg"); }
  .project3 { background: linear-gradient(var(--tp-gray), var(--tp-gray)),
      url("resources/stock/desktop.jpg"); }
  .project button { color: var(--white); border-style: none; }
  .project button:hover { color: var(--white); }
  .project1 button { background-color: var(--accent); }
  .project2 button { background-color: var(--blue); }
  .project3 button { background-color: var(--purple); }
  .project button:hover { background-color: var(--green); }

.contact { background-color: var(--green); }
  .contact input { background-color: var(--white); }
  .contact .btn-primary { background-color: var(--blue); }

.bg-cover { background-size: cover; }
