/* Created by Cameron Grigoriadis 2/28/16 */

@import url(https://fonts.googleapis.com/css?family=Lekton:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

:root {
  --title: 'Lekton', sans-serif;
  --heading: 'Montserrat', sans-serif;
  --content: 'Roboto', sans-serif;
}

body { font-size: 20px; line-height: 1.8; }

p {
  font-weight: lighter;
}

/*Headings*/

h1, h2, h3, h4, h5, h6,
.navbar, .btn, .footer, input, textarea {
  font-family: var(--heading);
}

h1, h5 {
  font-weight: normal;
}

/*Content*/

p, li {
  font-family: var(--content);
}

/*Navbar*/

.navbar { font-weight: normal; }

/*Title*/

.title h1 {
  font-family: var(--title);
  font-size: 3em;
  font-weight: normal;
}

@media only screen and (max-width : 768px) {
  .title h1 { font-size: 2em; }
}

/*About*/

.about .bio { text-align: center; }
.about li a:hover {
  text-decoration: none;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 992px) {
  .about .bio h2 { text-align: right; }
  .about .bio p { text-align: left; }
}

/*Projects*/

.projects .row h1 {
  font-size: 1.5em;
  font-weight: bolder;
}
.projects .row h2 {
  font-size: 0.8em;
  font-weight: lighter;
}

.projects .row button {
  font-size: 1em;
}

.projects .title-txt, .project1, .project2, .project3 {
  text-align: center;
}

/*Contact*/

.contact p, .contact input, .contact textarea {
  font-size: 1.2em;
  text-align: center;
}

.contact p {
  font-weight: normal;
}
.contact input {
  height: 60px;
}
.contact .btn-primary {
  font-size: 1.5em;
  font-weight: normal;
}
