/* Created by Cameron Grigoriadis 2/28/16 */

@import url(https://fonts.googleapis.com/css?family=Lekton:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

:root {
  --title: 'Lekton', sans-serif;
  --heading: 'Montserrat', sans-serif;
  --content: 'Roboto', sans-serif;
}

/*Navigation*/

.navbar {
  font-family: var(--heading);
  font-weight: normal;
}
  .navbar .dropdown-menu {
    font-family: var(--content);
  }

/*Headings*/

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading);
}

h1, h5 {
  font-weight: normal;
}

.title h1 {
  font-family: var(--title);
  font-size: 3em;
  font-weight: normal;
}

/*Paragraphs*/

p {
  font-family: var(--content);
}
