/*Cameron Grigoriadis 2016*/

.margin { margin-bottom: 45px; }

/*Container-Fluid*/

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

/*Navbar*/

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 0.8em;
    letter-spacing: 5px;
}

/*Title*/

.title img {
  max-width: 50%;
}
.title .bordered-image {
  border-style: solid;
  border-width: 5px;
}

/*About*/

.about { padding-bottom: 20px; }
  .about .bio { margin: 5% 0; }
  .about p { margin-top: 22px; max-width: 450px; }
  .about ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
    .about li a { padding: 15px 20px; }
    .about li a img {
      width: 30px;
      margin-right: 10px;
      margin-bottom: 4px;
    }
    .about li a:hover {
      border-style: none;
      border-radius: 2px;
    }

/*Projects*/
.projects .title-txt {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20%;
  padding-right: 20%;
}
.projects .row button {
  margin-top: 20px;
  padding: 20px 40px;
}
.project1, .project2, .project3 {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .project1 div, .project2 div, .project3 div {
    padding-bottom: 40px;
  }

/*Contact*/

.contact input {
  transition-duration: .5s;
  transition-property: all;

  margin: 20px 0px;
  border-style:none;
  border-radius: 4px;
  text-align: center;
}
.contact .btn-primary {
  margin-top: 40px;
  padding: 20px 60px;
  border-style: none;
  border-radius: 4px;
}

/*Footer*/

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*Queries*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .about li {
	 margin: 40px 10px;
    display: block;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
