@import(https://fonts.googleapis.com/css?family=Lekton:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Khula:400,600);

/*All & Body*/

* {
  margin: 0;
}

body {
    background-image: url("/Users/Cameron/Desktop/3-Screens Project/resources/slideshow/1.jpg");
    background-size: cover;
}

/*Selection*/

::selection {
  background: rgba(4, 83, 255, 0.4); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(4, 83, 255, 0.4); /* Gecko Browsers */
}

/*Text*/

h1, h2, h3 {
  font-family: 'Lekton', sans-serif;
}

p {
  font-family: 'Khula', sans-serif;
}

.text-container {
  margin-left: 50px;
  margin-right: 50px;
}

/*Anchors*/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*Header*/

header {
  background-color: rgba(41, 44, 54, 0.9);
  position: fixed;
  width: 100%;
  z-index: 100;

  padding-top: 20px;
  padding-bottom: 20px;
}

header .text-container {
  margin-left: 50px;
  display: inline-block;
}

header a {
  color: #FFFFFF;
}

header a:hover {
  color: #0453FF;
}

header .nav-links {
  color: #FFFFFF;
  list-style-type: none;

  float: right;

  margin: 0;
  margin-right: 50px;

  padding: 0;
}

header .nav-links li {
  padding-left: 10px;
  display: inline-block;
}

header .nav-links li a {
  color: #DCDEE0;
  display: block;
  text-align: center;
}

header .nav-links .active {
  color: #FFFFFF;
}

/*Section*/

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

/*Section Text Container*/

section .text-container {
  position: relative;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}

section .text-container h2 {
  font-size: 3em;
  padding-bottom: 0.4em;
}

section .text-container p {
  font-size: 2em;
}

section .stream {
  display: none;

  text-overflow: clip;
  overflow: hidden;
  font-size: 250%;
  text-align: center;
}

/*Title*/

.title {
  z-index: 10;

  padding: 20px;
  padding-top: 100px;

  position: relative;
}

.title .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title .portrait {
  width: 200px;

  border: 10px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;

  margin: 20px;
}

.title .text-container {
  text-align: left;
  bottom: 50px;
}

@media only screen and (max-width: 1110px) {
  .title .text-container {
    text-align: center;
  }
}

.title h1 {
  font-size: 5em;
  color: #0453FF;
  padding-bottom: 0.2em;
}

.title p {
  font-size: 2.5em;
  color: #292C36;
}

/*About*/

.about {
  min-height: 300px;
  background: #FFFFFF;

  padding-top: 50px;
  padding-bottom: 50px;
}

.about .links {
  font-size: 1.5em;

  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
}

.about .links div {
  color: #000000;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}

.about .links div:hover {
  background-color: rgba(4, 83, 255, 0.2);
}

.about .links div img, .about .links div a {
  display: inline;
}

.about .links a {
  text-decoration: none;
}

.about .links a:hover {
  text-decoration: none;
}

.about .links p, .about .links img {
  display: inline-block;
}

.about .links img {
  width: 30px;
  height: 30px;

  padding: 5px;
  padding-right: 10px;
}

/*Blocks*/

.block {
  min-height: 600px;
}

#internship .text-container h2, #harvest .text-container h2 {
  color: #FFFFFF;
}

#internship .text-container p, #harvest .text-container p {
  color: #DCDEE0;
}

#internship .stream, #harvest .stream {
  color: rgba(255, 255, 255, 0.2);
}

#photography .text-container h2 {
  color: #000000;
}

#photography .text-container p {
  color: #25272C;
}

#photography .stream {
  color: rgba(0, 0, 0, 0.2);
}

#harvest {
  background-image: linear-gradient(rgba(41, 44, 54, 0.7), rgba(41, 44, 54, 0.7)),
    url("/Users/Cameron/Desktop/3-Screens Project/resources/slideshow/15.JPG");
  background-size: cover;
}

#photography {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("/Users/Cameron/Desktop/3-Screens Project/resources/long_way_home.jpg");
  background-size: cover;
}

#internship {
  background-image: linear-gradient(rgba(41, 44, 54, 0.7), rgba(41, 44, 54, 0.7)),
    url("/Users/Cameron/Desktop/3-Screens Project/resources/coding.png");
  background-size: cover;
}

/*Footer*/

footer {
  height: 300px;
}

footer .text-container p {
  font-family: 'Lekton', sans-serif;
  font-weight: bold;
  font-size: 1.25em;

  text-align: center;

  color: #01237D;

  padding: 25px 25px;
}
